<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
    <ion-title>Ulogujte se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-item fill="outline" class="field">
      <ion-label position="stacked">Email</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email"
        placeholder="Unesite email"
        required>
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="field">
      <ion-label position="stacked">Lozinka</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="password" 
        name="password"
        placeholder="Unesite lozinku"
        required>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" style="--background: #8e755c; --color: white; --border-radius: 20px;">
      Uloguj se
    </ion-button>
  </form>

  <div class="ion-text-center" style="margin-top: 1rem;">
    Nemate nalog? <a routerLink="/register">Registrujte se</a>
  </div>
</ion-content>
