ion-content {
  --background: none;
   background: linear-gradient(to bottom right, #ebd6bf, #fdfcfb);
}
.field {
  --border-radius: 14px;    
  --padding-start: 12px;    
  --inner-padding-end: 12px;
  margin-bottom: 14px;
}
.field ion-label {
  margin-bottom: 6px;        
  --padding-top: 10px;       
}
// Toolbar 
ion-toolbar {
  --background:#f8e7d7;
  --ion-color-base: transparent !important;
  --border-color: transparent;
  box-shadow: none;
}
ion-header::after { display: none; } // uklanjanje iOS hairline 
ion-title { color: #2b2b2b; }        
ion-back-button { --color: #2b2b2b; }


.field {
  --background: rgba(255, 255, 255, 0.82);   
  --border-radius: 16px;
  --padding-start: 12px;
  --inner-padding-end: 12px;
  --border-color: rgba(0, 0, 0, 0.06);     
  margin-bottom: 14px;
}


.field ion-input {
  --background: transparent;
  --padding-top: 10px;
  --padding-bottom: 10px;
}


.field ion-label {
  color: #503d31;
  margin-bottom: 6px;
    font-size: 1.2rem; 
  font-weight: 600;  
}

