.start-page {
  --background: none; 

   background: linear-gradient(to bottom right, #ebd6bf, #fdfcfb);
//background: linear-gradient(to bottom right, #a8dadc, #f1faee);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }

  .logo-icon {
    font-size: 80px;
    color: #443c26;
    margin-bottom: 10px;
  }

  .title {
  font-family: 'Poppins', sans-serif !important; /* forsiramo novi font */
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  background: linear-gradient(90deg, #62583d, #efbd80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


  ion-button {
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  .login-warning {
    color: #c1121f;
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 1.2rem;   /* povećaj po želji */
    margin-bottom: 18px;
    text-align: center;
  }

  .register-link {
    font-size: 1rem;
    text-align: center;
    color: #0c182a;

    a {
      color: #62583d;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
